@media(max-width: 576px){
    .gameBoard { 
        h2 {
            font-size: 30px;
        }  
        .logo {
            width: 130px;
        }
        .placeholder-container label {
            top: 30px;
        }
    
        .placeholder-container input:focus+label,
        .placeholder-container input:not(:placeholder-shown)+label {
            top: 8px;
        }
        .placeholder-container{
            input {
                margin-top: 18px;
                height: 50px;
                font-size: 18px;
            }
        }
        .game-mode{
            .mode__title{
                font-size: 24px;
            }
    
        }        
    }
}