@media(max-width: 540px){
    .gameBoard { 
        p {
            font-size: 30px;
        }
    
        .warning-name-error {
            font-size: 14px;
            text-align: left;
            color: red;
        }
    
        .logo {
            width: 130px;
        }
    
        input {
            margin-top: 18px;
            height: 50px;
            font-size: 18px;
        }
        .mode {
            margin-top: 20px;
            width: 100%;
    
            p {
                font-size: 25px;
            }
    
        }
    }
}