.container
    .navbar
        .navbar__logo
            a(href="./")
                img.logo(src="./assets/img/maths-1426891_960_720.webp")
            .user-data 
                p.user-name Bakai
                a.raiting(href="./leaders.html") Рейтинг: 345