.container
    .navbar
        .navbar__logo
            a(href="./")
                img.logo(src="./assets/img/maths-1426891_960_720.webp")
            .user-data 
                p.user-name Gamer
                a.raiting(href="./leaders.html") Рейтинг: 0
        button.toggle-game__btn.stop-btn.d-none Stop game