.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
    .timer {
        font-size: 25px;
        margin-bottom: 0px;
      }
    .header__logo {
        display: flex;
        align-items: center;

        .logo {
            width: 70px;
        }

        .user-data {
            flex-direction: column;
            margin-left: 10px;

            .user-name {
                font-size: 18px;
                margin: 0px;
            }

            .raiting {
                text-decoration: none;
                color: black;
                font-size: 16px;
                margin: 0px;

            }
        }
    }
}

