.result-page {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.35);
    .container{
        height: auto;
    }
    .result__inner {
        animation-name: scaling;
        animation-duration: 1s;
        background-color: #FFF;
        padding: 15px;
        margin: 0 auto;

        a {
            text-decoration: none;
        }

        .back-to-main {
            margin-left: 15px;
            color: black;
        }

        .result__item {
            width: 60%;
            margin: 0 auto;
            .game-over {
                font-size: 40px;
                margin-top: 10px;
            }

            .your-count {
                font-size: 25px;
            }

            .count {
                font-size: 80px;
                line-height: 80px;
                margin-bottom: 15px;
            }

            .incorrect,
            .correct {
                font-size: 20px;
                margin: 0px;
            }

            .incorrect {
                margin-bottom: 10px;
            }

            button {
                width: 100%;
                padding: 16px;
                border: 0px;
                letter-spacing: 1.5px;
                margin-bottom: 10px;
                border-radius: 5px;
                background: #0487B0;
                color: #FFFFFF;
            }

            button:hover {
                background-color: #56a4f1;
            }
        }
    }
}