extends ../sample.pug
block content
    .container
        include ../includes/navbar
        .practise
            .game
                .container.bag-white
                    .d-flex.align-items-center.justify-content-between
                        .d-flex.align-items-center.game__inform
                            p.level Level: 1
                            p.correct correct: 0
                            p.incorrect Incorrect: 0
                        p.timer 01:00
                    .tasks
                        form.task-form.game__right(onsubmit='return false')
                            .task
                            input.result(type='number')
                        .center
                            h3 Score:
                            p.count 0
                            p.true-false +1
    include ../includes/result

