extends ../sample.pug
block content
    .container
        .gameBoard
            img.logo(src="./assets/img/maths-1426891_960_720.webp")
            p Hello Gamer
            input.name(placeholder="name", name="name")
            p.warning-name-error 
            button.check-in Check in 
            .mode
                p Choose Your Game Mode
                form(action="./practice.html")
                    button.practice Practice
                form(action="./timeAtack.html")
                    button.timeAttack Time Attack
                form(action="./leaders.html")
                    button.leaders Leaders