extends ../sample.pug
block content
    .container
        .gameBoard
            img.logo(src="./assets/img/maths-1426891_960_720.webp")
            p Hello Gamer
            .placeholder-form
                .placeholder-container
                  input.name(type='text', placeholder=' ', name="name")
                  label name 
            .game-mode
                p Choose Your Game Mode
                .game-mode__inner
                    .game-mode__item 
                        input.mode.practice(type="radio" name="radio" checked id="practice")
                        label.practice-label(for="practice") Practice 
                    .game-mode__item
                        input.mode.timeAtack(type="radio" name="radio" id="timeAtack")
                        label.timeAtack-label(for="timeAtack") TimeAttack
            form(action="./game.html") 
                button.lets-go Lets Go 
            a.leaders(href="./leaders.html") Leaders