extends ../sample.pug
block content
    .leaders
        .container
            h1.leaders__title Leaders Board
            .leaders__inner 
                .columns.d-flex.justify-content-between
                    p.column__name name
                    p Score
                ol.leaders__list
