extends ../sample.pug
block content
    .container
        include ../includes/navbar
        .d-flex.align-items-center.practise
            .instruction
                h2.instruction__title Инструкция этого режима
                p.instruction__text.col-5 В этом режиме вы можете играть сколько вам захочиться. Уровень задач будет менятся автоматически. Чем больше уровень тем сложнее задачи 
                button.toggle-game__btn Start game
            .game.d-none
                p.level Level: 1
                .tasks
                    form.task-form(onsubmit='return false')
                        .task
                        input.result(type='number')
                    .center
                        h3 Score:
                        .count 0

