.gameBoard {
    margin: 0 auto;
    text-align: center;
    width: fit-content;

    h2{
        font-size: 40px;
        text-transform: capitalize;
    }

    .placeholder-form {
        box-sizing: border-box;
        width: 100%;
        margin-top: 15px;
    }

    .placeholder-container {
        position: relative;
        width: 100%;
    }

    .placeholder-container input {
        background-color: #FFF;
        border: 1px solid #BFE2FF;
        border-radius: 5px;
        box-sizing: border-box;
        color: rgb(71, 69, 69);
        font-size: 16px;
        line-height: 16px;
        height: 50px;
        padding: 0 20px;
        width: 100%;
    }

    .placeholder-container label {
        color: rgb(128, 126, 126);
        font-size: 16px;
        line-height: 16px;
        padding: 5px 10px;
        pointer-events: none;
        position: absolute;
        transition: all 200ms;
        top: 12px;
        left: 10px;
    }

    .placeholder-container input:focus {
        outline: #0278ED;
    }

    .placeholder-container input:focus+label,
    .placeholder-container input:not(:placeholder-shown)+label {
        top: -10px;
        left: 10px;
        font-size: 11px;
        background-color: #BFE2FF;
        padding: 2px 10px;
    }

    .logo {
        width: 150px;
    }

    .lets-go,.leaders-btn {
        width: 100%;
        height: 50px;
        margin: 10px 0;
        font-size: 16px;
        border-radius: 5px;
        color: #FFF;
        background-color: #28a745;
        transition: ease 0.2s;
        letter-spacing: 2px;
        border: 0px;
    }
    .leaders-btn{
        background-color: #fd7e14;
        margin: 0px;
    }
    .leaders-btn:hover{
        background-color: #eea060;
    }
    .lets-go:disabled {
        background-color: #97cea4;
        pointer-events: none;
    }

    .lets-go:hover {
        background-color: #61da7d;
    }

    .game-mode{
        margin: 10px 0;
        width: 100%;

        p {
            font-size: 30px;
            margin: 10px;
        }

        input {
            -webkit-appearance: none;
        }

        .game-mode__inner {
            display: flex;
            gap: 10px;

            .game-mode__item {
                width: 100%;
            }
            .practice:checked+.practice-label{
                background: #0278ED;
                color: white;
            }
            .timeAtack:checked+.timeAtack-label{
                background: #0278ED;
                color: white;
            }
            label {
                width: 100%;
                padding: 10px 0px;
                border-radius: 5px;
                border: 2px solid #0278ED;
                transition: all ease-in-out 0.1s;
                color: #0278ED;

                &:hover{
                    box-shadow: #0278ED 0px 0px 10px, #0278ED 0px 0px 10px, #0278ED 0px 0px 10px;
                }
            }
        }
    }
    .rules-btn{
        cursor: pointer;
        margin-top: 5px;
        text-decoration: underline;
        text-align: left;
    }
}