.practise {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  .game {
    width: 100%;
    padding: 15px;

    .game__inform {
      gap: 25px;
    }

    .timer {
      font-size: 25px;
    }

    .level {
      font-size: 25px;
    }

    .tasks {
      overflow: hidden;

      .task-form {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3vw;

        .task {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 70px;
          padding: 5vw;
        }

        .result {
          border: 2px solid #000;
          border-radius: 8px;
          width: 200px;
          font-size: 70px;
          padding: 2vw;
          overflow: hidden;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }

      }

      .center {
        margin: 0 auto;
        position: relative;
        width: fit-content;

        .count {
          font-size: 60px;
          text-align: center;
        }

        .true-false {
          position: absolute;
          right: -10px;
          color: #61da7d;
        }

        .true-false--active {
          animation-name: counts;
          animation-duration: 1s;
          top: 60px;
        }

        .error {
          color: red;
        }

        h3 {
          margin-top: 30px;
          font-size: 26px;
        }
      }

    }
  }
}
.error-example{
  animation-name: error;
  animation-duration: 0.5s;
}
.bag-white {
  background-color: #fff;
}

.active {
  transform: translateX(0px) !important;
}

.warning {
  color: red;
}

.game__right {
  animation-name: shows;
  animation-duration: 1s;
  right: 0%;
}

.game__left {
  animation-name: lefts;
  animation-duration: 1s;
  left: 0%;
}


@keyframes lefts {
  from {
    transform: translateX(0px);
    opacity: 0.2;
  }

  to {
    transform: translateX(-100%);
    opacity: 1;
  }
}

@keyframes shows {
  from {
    transform: translateX(100%);
    opacity: 0.1;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes counts {
  from {
    top: 60px;
    opacity: 1;
  }

  to {
    top: 20px;
    opacity: 0;
  }
}
@keyframes error {
  from {
    transform: translateX(-3px);
  }
  20%{
    transform: translateX(6px);
  }
  40%{
    transform: translateX(-3px);
  }
  60%{
    transform: translateX(6px);
  }
  80%{
    transform: translateX(-3px);
  }
  to {
    transform: translateX(0px);    
  }
}