.practise {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  .game {
    width: 100%;
    padding: 15px;

    .game__inform {
      gap: 25px;
    }

    .timer {
      font-size: 25px;
    }

    .level {
      font-size: 25px;
    }

    .tasks {
      overflow: hidden;
      .task-form {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3vw;

        .task {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 70px;
          padding: 5vw;
        }

        .result {
          border: 2px solid #000;
          border-radius: 8px;
          width: 200px;
          font-size: 70px;
          padding: 2vw;
          overflow: hidden;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }

      }

      .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .count {
          font-size: 60px;
          text-align: center;
        }

        h3 {
          margin-top: 30px;
          font-size: 26px;
        }
      }

    }
  }
}

.bag-white {
  background-color: #fff;
}

.active {
  transform: translateX(0px) !important;
}

.warning {
  color: red;
}

.game__right {
  animation-name: shows;
  animation-duration: 1s;
  right: 0%;
}

.game__left {
  animation-name: lefts;
  animation-duration: 1s;
  left: 0%;
}

@keyframes shows {
  from {
    transform: translateX(100%);
    opacity: 0.1;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes lefts {
  from {
    transform: translateX(0px);
    opacity: 0.2;
  }

  to {
    transform: translateX(-100%);
    opacity: 1;
  }
}