@import 'https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap';
@import './pages/index.scss';
@import './pages/practice.scss';
@import './components/navbar.scss';



@import './adaptive/mainOfAdaptive.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

body {
  background-color: #eee;

  p {
    margin-bottom: 0px;
  }
}